name: Node CI

on:
  push:
    branches:
      - "add-*"
      - "fix-*"
      - "develop"
      - "master"
    paths-ignore:
      - "README.md"
  pull_request:
    branches:
      - master
      - develop
    paths-ignore:
      - "README.md"

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js with Yarn caching
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn lint

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js with Yarn caching
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Unit Test
        run: yarn test

      - name: Test Coverage
        run: yarn coverage

      - name: Generate Coverage Badges
        uses: jaywcjlove/coverage-badges-cli@main
        with:
          style: classic
          source: coverage/coverage-summary.json
          output: coverage/badges.svg
          jsonPath: total.lines.pct

      - name: Deploy Coverage Badges
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./coverage
