name: Test

on:
  workflow_run:
    workflows: [Build]
    types:
      - completed
    branches:
      - master
      - develop
      - add-*
      - fix-*

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js with Yarn caching
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Unit Test
        run: yarn test

      - name: Test Coverage
        run: yarn coverage

      - name: Generate Cover Badge
        run: |
          yarn global add coverage-badges-cli
          coverage-badges --output coverage/badges.svg

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./coverage
